* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --primary: #34ACE0;
}



/* Navbar */

.navbar {
    padding: 15px 0;
    box-shadow: 0 0 30px 0 rgba(52, 172, 224 , 0.3);
}

.navbar .nav-item .nav-link {
    color: var(--primary) !important;
    transition: 0.5s;
}

.navbar .nav-item .nav-link:hover {
    color: black !important;
}

.btn-white {
    color: var(--primary);
    box-shadow: 0 0 20px 0 rgba(52, 172, 224 , 0.3);
    transition: 1s;
}

.btn-blue {
    background-color: var(--primary);
    color: white;
    box-shadow: 0 0 20px 0 rgba(52, 172, 224 , 0.3);
    transition: 1s;
}

/* Footer */

footer {
    background-color: aqua;
}

.no-underline {
    text-decoration: none;
}

.no-bullet {
    list-style: none;
}

footer a {
    text-decoration: none;
    padding: 10px;
}

.foot2 a:first-child {
    padding-left: 0;
}


@media (max-width: 991px) {
    .navbar .navbar-nav:last-child {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar .navbar-nav .btn {
        width: 49%;
    }

    .navbar .navbar-nav .btn {
        margin: 10px 0 !important;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row .col-sm-4 {
        margin-top: 50px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .col-sm-3 {
        align-items: center;
        justify-content: space-between !important;
    }
}

@media (max-width: 576px) {
    .navbar .nav-item .nav-link {
        text-align: center;
    }
    .col-sm-7 {
        justify-content: center;
        padding-bottom: 10px;
    }
    .col-sm-3 {
        justify-content: center !important;
    }
    i {
        padding: 10px;
    }
}

@media (max-width: 350px) {
    .navbar .navbar-nav:last-child {
        flex-direction: column;
    }

    .navbar .navbar-nav .btn {
        width: 100%;
    }
}